/**
 * Author
 * ----------------------------------------------------------------------------
 */
 
 .avatar {
  box-sizing: inherit;
  padding: 20px 0 30px;
  text-align: center;
}

 
.jas {
    width: 280px;
    height: 280px;
    margin: 0 auto 1px;
    border-radius: 50%;
    text-align: center;
}
.note {
  font-size: 0.9em;
  line-height: 1.6;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}